name: pull request

on:
  pull_request:
    paths:
    - '.github/workflows/**'
    - 'Makefile'
    - 'go.mod'
    - 'go.sum'
    - 'cmd/**'
    - 'pkg/**'
    - '!docs/**'
    - '!crds/**'

jobs:
  build-deploy:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3

    - name: Setup Golang
      uses: actions/setup-go@v3
      with:
        go-version: '1.20.5'

    - name: Test
      run: make test

    - name: Build docker images
      run: make build
