name: Build Vault Env

on:
  push:
    branches:
      - master
      - multiarch
      - "*-patch"
    paths:
      - ".github/workflows/vaultenv-build.yaml"
      - ".github/actions/**"
      - "Dockerfile"
      - "Makefile"
      - "go.mod"
      - "go.sum"
      - "cmd/azure-keyvault-env/**"
      - "pkg/**"
      - "!docs/**"
      - "!crds/**"

jobs:
  build-deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup Golang
        uses: actions/setup-go@v3
        with:
          go-version: "1.20.0"

      - name: Build
        uses: ./.github/actions/build
        env:
          AKV2K8S_CLIENT_ID: ${{ secrets.INT_TEST_CLIENT_ID }}
          AKV2K8S_CLIENT_SECRET: ${{ secrets.INT_TEST_CLIENT_SECRET }}
          AKV2K8S_CLIENT_TENANT_ID: ${{ secrets.INT_TEST_TENANT_ID }}
          AKV2K8S_AZURE_SUBSCRIPTION: ${{ secrets.INT_TEST_SUBSCRIPTION }}
        with:
          build-make-action: image-vaultenv
          docker-user: ${{ secrets.PRIVATE_REGISTRY_USERNAME }}
          docker-passw: ${{ secrets.PRIVATE_REGISTRY_PASSWORD }}
          docker-url: ${{ secrets.PRIVATE_REGISTRY_URL }}
          docker-reg: ${{ secrets.PRIVATE_REGISTRY }}
