name: Release Webhook

on:
  push:
    tags:
      - "webhook-[0-9]+.[0-9]+.[0-9]+**"

jobs:
  release:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Version
        run: make print-v-controller

      - name: Release image
        run: |
          make \
          DOCKER_INTERNAL_REG=${{ secrets.PRIVATE_REGISTRY }} \
          DOCKER_INTERNAL_URL=${{ secrets.PRIVATE_REGISTRY_URL }} \
          DOCKER_INTERNAL_USER=${{ secrets.PRIVATE_REGISTRY_USERNAME }} \
          DOCKER_INTERNAL_PASSW=${{ secrets.PRIVATE_REGISTRY_PASSWORD }} \
          DOCKER_RELEASE_USER=${{ secrets.PUBLIC_REGISTRY_USERNAME }} \
          DOCKER_RELEASE_PASSW=${{ secrets.PUBLIC_REGISTRY_PASSWORD }} \
          DOCKER_RELEASE_REG=${{ secrets.PUBLIC_REGISTRY }} \
          DOCKER_RELEASE_TAG=${GITHUB_REF##*/} \
          release-webhook
